<div class="col-md-6">
  <div>{{ box.name }}</div>

  <mat-card
    style="
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <ng-container *ngIf="box.name === 'Distance'">
      <app-charts
        [chartColors]="box.color"
        [chartType]="box.chart"
      ></app-charts>
    </ng-container>

    <ng-container *ngIf="box.name === 'Alarms'">
      <app-charts
        [chartColors]="box.color"
        [chartType]="box.chart"
      ></app-charts>
    </ng-container>
  </mat-card>
</div>
