<div class="small-box-container">
  <ng-container *ngFor="let box of viewBox">
    <app-small-box-info [box]="box"></app-small-box-info>
  </ng-container>
</div>

<div style="display: flex; justify-content: center">
  <div style="width: 90%">
    <div *ngFor="let box of viewBigBox">
      <div class="col-md-6">
        <div style="font-size: 16px; font-weight: 500; margin-bottom: 20px">
          {{ box.name }}
        </div>
        <mat-card class="chart-container">
          <app-charts
            *ngIf="showCharts"
            [chartDatasets]="box.data"
            [chartLabels]="box.labels"
            [chartColors]="box.colors"
            [chartType]="box.chart"
            [chartOptions]="box.chartOptions"
          ></app-charts>
        </mat-card>
      </div>
    </div>
  </div>
</div>
