.custom-box {
  height: 90px;
  margin: 10px;
  width: 9em;
  padding: 10px;
  line-height: 1;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.img-style {
  width: 30px;
  position: relative;
  right: 5px;
}

.box-text {
  height: 25px;
  display: flex;
  align-items: center;
}
