a {
  color: white;
  text-decoration: none; /* no underline */
}

.custom-button {
  margin-left: 10px;
  margin-right: 10px;
}

.remove-border-bottom .mat-tab-header {
  border-bottom: none;
  margin-bottom: 20px;
}
