<div class="dashboard-outer-container">
  <div class="dashboard-inner-container">
    <mat-tab-group class="remove-border-bottom">
      <mat-tab label="Today">
        <app-overall-day></app-overall-day>
      </mat-tab>
      <mat-tab label="7 Day">
        <app-overall-day></app-overall-day>
      </mat-tab>
      <mat-tab label="30 Days">
        <app-overall-day></app-overall-day>
      </mat-tab>
      <mat-tab label="Custom">
        <app-overall-day></app-overall-day>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
